#toolbar {
  padding: 10px 16px;
}

#menu {
  background: #fff;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  border-right: 1px solid #e9e9e9;
}

#checklist div.ant-steps-description {
  word-break: break-all;
}

#console {
  background-color: #ffffff;
  overflow: auto;
  font-family: monospace;
  padding: 0.25em 0.25em;
  white-space: pre-wrap;
  word-break: break-word;
}
